n8n/workflows/trading/btc_signal_risk_execute_15m.json
{
  "name": "BTC Signal Risk Execute 15m",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "Cron_BTC_Signal_15m",
      "name": "cron-btc-signal-15m",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://strategy_service:8100/signal/evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"symbol\": \"BTCUSD\"\n}",
        "options": {}
      },
      "id": "Http_Signal_Evaluate",
      "name": "Evaluate Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://strategy_service:8100/execution/order",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"signal_id\": \"{{$json.signal_id}}\",\n  \"order_type\": \"market\"\n}",
        "options": {}
      },
      "id": "Http_Execution_Order",
      "name": "Execute Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "cron-btc-signal-15m": {
      "main": [[{ "node": "Evaluate Signal", "type": "main", "index": 0 }]]
    },
    "Evaluate Signal": {
      "main": [[{ "node": "Execute Order", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "active": false
}
