n8n/workflows/trading/btc_signal_risk_execute_15m.json
{
  "name": "BTC Signal Risk Execute 15m",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 15,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "Cron_BTC_Signal_15m",
      "name": "cron-btc-signal-15m",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [280, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://strategy_service:8100/signal/evaluate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"symbol\":\"BTCUSD\"} }}",
        "options": {}
      },
      "id": "Http_Signal_Evaluate",
      "name": "Evaluate Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://strategy_service:8100/execution/intent",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"signal_id\":$json.signal_id,\"source\":\"n8n_no_kyc\"} }}",
        "options": {}
      },
      "id": "Http_Execution_Order",
      "name": "Create Intent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "cron-btc-signal-15m": {
      "main": [[{ "node": "Evaluate Signal", "type": "main", "index": 0 }]]
    },
    "Evaluate Signal": {
      "main": [[{ "node": "Create Intent", "type": "main", "index": 0 }]]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true },
  "active": false
}
