n8n/workflows/memory_find_webhook.json
{
  "name": "Memory Find Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "memory/find",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "Webhook_Memory_Find",
      "name": "webhook-memory-find",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "query",
              "value": "={{ $json.query.query || $json.body.query || $json.query || 'memoria' }}"
            }
          ]
        }
      },
      "id": "Set_Normalize_Memory_Find",
      "name": "Normalize Query",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "command": "=cd \"/workspace\" && sh ./scripts/n8n_memory_find.sh \"{{$json.query}}\""
      },
      "id": "Execute_Command_Memory_Find",
      "name": "Find In Memory",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "webhook-memory-find": {
      "main": [
        [
          {
            "node": "Normalize Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Query": {
      "main": [
        [
          {
            "node": "Find In Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "active": false
}
